.CertificateCell:nth-child(n+2) {
    padding-left: 30px;
}

.CertificateCell .label {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.CertificateCell .value {
    margin-bottom: 40px;
    word-wrap: break-word;
}
