@page {
    size: A4;
    margin: 2cm 2cm;
    padding: 1cm 1cm;
    border: 0.5mm solid black;

    @bottom-center {
        content: "All timestamps are displayed using Universal Time Coordinated (UTC)";
    }

    @bottom-right {
        content: counter(page) "/" counter(pages);
    }
}

@media print {
    html, body, pre {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 11pt;
    }

    .prerequisite-title,
    .requester-title,
    .facts-title,
    .confidential-title,
    .item-title,
    .conclusion-first,
    .appendix {
        break-before: page;
    }

    .prerequisite {
        page-break-inside: avoid;
    }

    .header {
        display: flex;
        width: 100%;
        margin-top: 3cm;
    }

    .header > * {
        width: 50%;
    }

    .logo {
        text-align: center;
        margin-top: 3mm;
    }

    .logo img {
        height: auto;
        max-height: 2cm;
        width: auto;
        max-width: 6cm;
    }

    .postal-address,
    .polkadot-address {
        text-align: center;
    }

    .polkadot-address {
        margin-top: 5mm;
    }

    .main-title {
        border: 0.5mm solid black;
        font-size: 15pt;
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;
        padding-top: 2mm;
        padding-bottom: 2mm;
        margin-top: 4cm;
    }

    .time {
        margin-top: 2cm;
    }

    h2 {
        font-weight: bold;
        font-size: 14pt;
        margin-top: 1cm;
        margin-bottom: 1cm;
    }

    .intro,
    .proceeds {
        margin-top: 2cm;
    }

    .fact-container {
        padding-bottom: 5mm;
    }

    h3 {
        font-weight: bold;
        font-size: 12pt;
        margin-top: 1cm;
        margin-bottom: 1cm;
        padding-bottom: 5mm;
    }

    h4 {
        font-weight: bold;
        font-size: 11pt;
        margin-top: 5mm;
        margin-bottom: 5mm;
        padding-bottom: 0;
    }

    h5 {
        font-weight: normal;
        font-size: 11pt;
        margin-top: 5mm;
        margin-bottom: 5mm;
        padding-bottom: 0;
    }

    hr {
        border-color: black;
        color: black;
        border-width: 0.5mm;
        opacity: 1;
    }

    .footer {
        display: flex;
        width: 100%;
        margin-top: 2cm;
    }

    .footer > * {
        width: 50%;
    }

    .footer > *:first-child {
        padding-right: 5mm;
    }

    .footer > *:first-child {
        padding-left: 5mm;
    }

    .footer h3 {
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 5mm;
        border-bottom: 0.5mm solid black;
    }

    .signature-container {
        text-align: right;
    }

    .sof-signature {
        margin-top: 1cm;
        height: 4cm;
    }

    .footer .signature-container h3 {
        text-align: left;
    }

    a {
        word-break: break-all;
    }

    .oath-container {
        display: flex;
        width: 100%;
        flex-grow: 0;
    }

    .oath-container > * {
        width: 50%;
    }

    .oath-container .oath-logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .oath-container .oath-logo img {
        width: 100%;
        flex-shrink: 0;
        flex-grow: 0;
    }

    .creative-commons {
        display: flex;
    }

    .creative-commons a {
        word-break: break-word;
    }

    .creative-commons-text {
        margin-left: 10px;
        margin-top: 10px;
    }
}
