.CertificateAndLimits {
    margin-top: 30px;
}

.CertificateAndLimits .url-copy-paste-container {
    display: flex;
}

.CertificateAndLimits .url-copy-paste-container .url-container {
    max-width: calc(100% - 20px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.CertificateAndLimits .url-copy-paste-container button {
    flex-shrink: 0;
}

.Dashboard .CertificateAndLimits a {
    margin-bottom: 18px;
    color: #0d6efd;
}

.CertificateAndLimits .CopyPasteButton {
    margin-left: 10px;
}

.CertificateAndLimits .limits {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.CertificateAndLimits .copy-paste-container {
    height: 100%;
    display: flex;
    align-items: center;
}

.CertificateAndLimits .arguments,
.CertificateAndLimits .limits {
    text-align: left;
}

.CertificateAndLimits .arguments h3,
.CertificateAndLimits .limits h3 {
    font-size: 1rem;
}

.CertificateAndLimits .sof-request {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.CertificateAndLimits .certificate h2 {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 0;
}

.CertificateAndLimits .certificate h2 .Button {
    margin-left: 20px;
    height: 40px;
    width: 40px;
    padding-top: 5px;
    padding-left: 13px;
}

.CertificateAndLimits .certificate h2 .CopyPasteButton img {
    min-height: 20px;
}

@media screen and (max-width: 1926px) {
    .CertificateAndLimits .col-xxxl-5 {
        width: 36%;
    }
    .CertificateAndLimits .col-xxxl-7 {
        width: 64%;
    }
}

@media screen and (max-width: 1788px) {
    .CertificateAndLimits .col-xxxl-5 {
        width: 100%;
    }
    .CertificateAndLimits .col-xxxl-7 {
        margin-top: 20px;
        width: 100%;
    }
    .CertificateAndLimits .col-xxxl-7 .ButtonGroup.right {
        text-align: center;
    }
}

@media screen and (max-width: 1600px) {
    .CertificateAndLimits .limits,
    .CertificateAndLimits .tool-bar {
        margin-top: 20px;
    }
}
