.CertificateAndLimits {
    margin-top: 30px;
}

.CertificateAndLimits .url-copy-paste-container {
    display: flex;
}

.CertificateAndLimits .url-copy-paste-container .url-container {
    max-width: calc(100% - 20px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.CertificateAndLimits .url-copy-paste-container button {
    flex-shrink: 0;
}

.Dashboard .CertificateAndLimits a {
    margin-bottom: 18px;
    color: #0d6efd;
}

.CertificateAndLimits .CopyPasteButton {
    margin-left: 10px;
}

.CertificateAndLimits .limits {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.CertificateAndLimits .limits div:first-child {
    margin-bottom: 20px;
}

.CertificateAndLimits .api-settings {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.CertificateAndLimits .api-settings *:nth-child(n+2) {
    margin-top: 10px;
}

.CertificateAndLimits .copy-paste-container {
    height: 100%;
    display: flex;
    align-items: center;
}

.CertificateAndLimits .arguments,
.CertificateAndLimits .limits {
    text-align: left;
}

.CertificateAndLimits .arguments h3,
.CertificateAndLimits .limits h3 {
    font-size: 1rem;
}

@media screen and (max-width: 1600px) {
    .CertificateAndLimits .limits,
    .CertificateAndLimits .api-settings {
        margin-top: 20px;
    }
}
