.ContextualizedLocDetails .logion-loc-tip-container {
    margin-bottom: 30px;
}

.ContextualizedLocDetails .closed-icon-container {
    position: relative;
}

.ContextualizedLocDetails .closed-icon-container .closed-icon {
    position: absolute;
    top: -55px;
    right: 20px;
}

.ContextualizedLocDetails .CheckFileFrame {
    margin-top: 30px;
}

.ContextualizedLocDetails .Row.matched {
    border: 2px dashed #e6007a;
}

.ContextualizedLocDetails .void-loc {
    margin-top: 30px;
}

.ContextualizedLocDetails .loc-is-void {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: -2px;
}

.Dashboard .ContextualizedLocDetails .PrimaryArea p.frame-title {
    font-size: 18px;
    font-weight: bold;
}

.ContextualizedLocDetails .separator {
    height: 1px;
    width: calc(100% + 40px);
    margin-left: -20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.ContextualizedLocDetails .upper-action-bar {
    margin-left: 20px;
    width: 450px;
    align-items: center;
    display: flex;
    justify-content: flex-end;
}

.ContextualizedLocDetails .upper-action-bar .create-logion-transaction-loc-button {
    height: 42px;
}

.ContextualizedLocDetails .add-buttons-container .btn:nth-child(n+2) {
    margin-left: 20px;
}

.ContextualizedLocDetails .link-button-container {
    display: flex;
    justify-content: center;
}

.ContextualizedLocDetails .close-button-container {
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 1360px) {

    .ContextualizedLocDetails .link-button-container {
        justify-content: flex-end;
    }
}

@media (max-width: 1640px) {

    .ContextualizedLocDetails .add-buttons-container .btn {
        display: block;
    }

    .ContextualizedLocDetails .add-buttons-container .btn:nth-child(n+2) {
        margin-left: 0;
        margin-top: 10px;
    }
}
