.ImportItemDetails {
    padding: 18px 10px;
    width: 100%;
}

.ImportItemDetails pre {
    font-size: 0.9rem;
    font-family: "Montserrat", sans-serif;
    line-break: anywhere;
    white-space: break-spaces;
    margin-bottom: 0;
}

.ImportItemDetails .item-file {
    text-align: left;
}
