.LocItemDetail {
    padding: 5px 5px;
}

.LocItemDetail .label {
    font-weight: bold;
    font-size: 14px;
    margin-right: 5px;
    flex-shrink: 0;
}

.LocItemDetail .value {
    font-weight: normal;
    font-size: 14px;
}

.LocItemDetail .value pre {
    font-size: 1em;
    font-family: "Montserrat", sans-serif;
}
