.LocItemDetails .frame {
    margin: 20px 10px;
    padding: 20px;
    border: 2px solid #e6007a;
}

.LocItemDetails .frame .frame-title {
    color: #e6007a;
    margin-bottom: 20px;
}

.LocItemDetails .linked-loc .label,.LocItemDetails .linked-loc .value {
    line-height: 32px;
}

.LocItemDetails.claim {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.LocItemDetails.claim > div {
    text-align: center;
}
