.LocItemDetails .frame {
    margin: 20px 10px;
    padding: 20px;
    border: 2px solid #e6007a;
}

.LocItemDetails .frame .frame-title {
    color: #e6007a;
}

.LocItemDetails .linked-loc .label,.LocItemDetails .linked-loc .value {
    line-height: 32px;
}
