.Home .character-container {
    position: relative;
    min-height: calc(100vh - 210px);
}

.Home .character-container img {
    position: absolute;
    bottom: -30px;
    right: -16px;
}

.Home .reading-container .Reading,
.Home .reading-container button {
    margin-left: auto;
    margin-right: auto;
}

.Home .reading-container .Reading {
    margin-top: -60px;
}

.Home .reading-container button {
    display: block;
}

.Home .transactions {
    margin-top: 30px;
}

.Home .my-transactions {
    position: absolute;
    top: 25px;
    right: 25px;
}

.Home .open-transactions {
    margin-top: 30px;
}

.Home .pending-transactions {
    margin-top: 30px;
}
