.UserHome .character-container img {
    position: fixed;
    right: 10px;
    bottom: 0;
}

.UserHome .reading-container .Reading,
.UserHome .reading-container button {
    margin-left: auto;
    margin-right: auto;
}

.UserHome .reading-container .Reading {
    margin-top: -60px;
}

.UserHome .reading-container button {
    display: block;
}

.UserHome .transactions {
    margin-top: 30px;
}

.UserHome .my-transactions {
    position: absolute;
    top: 25px;
    right: 25px;
}

.UserHome .open-transactions {
    margin-top: 30px;
}

.UserHome .pending-transactions {
    margin-top: 30px;
}

@media (max-width: 1350px) {
    .UserHome .character-container img {
        width: 150px;
    }
}

@media (max-width: 1558px) {
    .UserHome .reading-container .Reading {
        margin-top: 0;
    }
}
