{
    "APP_NAME": "Logion Wallet DEV",
    "directory": "http://localhost:8090",
    "edgeNodes": [
        {
            "peerId": "12D3KooWBmAwcd4PJNJvfV89HwE48nwkRmAgo8Vy3uQEyNNHBox2",
            "socket": "ws://localhost:9944"
        },
        {
            "peerId": "12D3KooWQYV9dGMFoRzNStwpXztXaBUjtPqi6aU76ZgUriHhKust",
            "socket": "ws://localhost:9945"
        },
        {
            "peerId": "12D3KooWJvyP3VJYymTqG7eH4PM5rN4T2agk5cdNCfNymAqwqcvZ",
            "socket": "ws://localhost:9946"
        }
    ],
    "crossmintApiKey": ""
}
