.ContextualizedLocDetails .logion-loc-tip {
    margin-bottom: 30px;
}

.ContextualizedLocDetails .TwoSideButtonGroup {
    margin-top: 40px;
}

.ContextualizedLocDetails .closed-icon-container {
    position: relative;
}

.ContextualizedLocDetails .closed-icon-container .closed-icon {
    position: absolute;
    top: -55px;
    right: 20px;
}

.ContextualizedLocDetails .certificate-link {
    position: relative;
    margin-top: 30px;
}

.Dashboard .ContextualizedLocDetails .certificate-link .link a {
    margin-bottom: 18px;
    color: #0d6efd;
}

.ContextualizedLocDetails .certificate-link .CopyPasteButton {
    margin-left: 10px;
}

.ContextualizedLocDetails .certificate-link .create-logion-transaction-loc-button {
    position: absolute;
    top: 0;
    right: 0;
}

.ContextualizedLocDetails .CheckFileFrame {
    margin-top: 30px;
}

.ContextualizedLocDetails .Row.matched {
    border: 2px dashed #e6007a;
}

.ContextualizedLocDetails .void-loc {
    margin-top: 30px;
}

.ContextualizedLocDetails .loc-is-void {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: -2px;
}

.Dashboard .ContextualizedLocDetails .PrimaryArea p.frame-title {
    font-size: 18px;
    font-weight: bold;
}

.ContextualizedLocDetails .separator {
    height: 1px;
    width: calc(100% + 40px);
    margin-left: -20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
