.ContextualizedLocDetails .TwoSideButtonGroup {
    margin-top: 30px;
}

.ContextualizedLocDetails .closed-icon-container {
    position: relative;
}

.ContextualizedLocDetails .closed-icon-container .closed-icon {
    position: absolute;
    top: -55px;
    right: 20px;
}
