.ProtectionRecoveryRequest .alert-activated {
    font-weight: bold;
    padding: 20px;
    border: 1px solid green;
    border-radius: 6px;
    text-align: center;
    width: 500px;
}

.NetworkWarning+.ProtectionRecoveryRequest {
    margin-top: 30px;
}

.ProtectionRecoveryRequest.network-warning p {
    margin-top: 30px;
}
