.Vault .asset-name-cell {
    padding-top: 3px;
}

.Vault .asset-name-cell .name {
    margin-left: 10px;
}

.Vault .not-available {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e6007a;
    border: 2px solid #e6007a;
    border-radius: 6px;
    padding: 9px 20px;
}

.Vault .header {
    margin-bottom: 20px;
}

.Vault .header .title {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.Vault .vault-address {
    margin-right: 25px;
}

.Vault .vault-tip {
    width: calc(100% - 520px);
}

.Vault .vault-tip .text p {
    margin-bottom: 0;
}
