.modal-content {
    z-index: 1060;
}

.Button.btn {
    padding: 9px 20px;
    border-radius: 6px;
    font-weight: bold;
}

.Button.btn.btn-secondary {
    position: relative;
    background: black;
    background-clip: padding-box;
    border: solid 1px transparent;
}

.Button.btn.btn-secondary:before {
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    margin: -1px;
    border-radius: inherit;
    z-index: -1;
    background: linear-gradient(to bottom, #3b6cf4, #6050dc);
}

.Button.btn.btn-secondary:hover:before {
    background: linear-gradient(to top, #3b6cf4, #6050dc);
}

.Button.btn.btn-primary {
    background: linear-gradient(to bottom, #3b6cf4, #6050dc);
    border: none;
}

.Button.btn.btn-primary:hover {
    background: linear-gradient(to top, #3b6cf4, #6050dc);
}

.Button.btn.btn-primary a,
.Button.btn.btn-secondary a,
.Button.btn.btn-warning a {
    color: white;
}

.Button.btn.btn-primary a:hover,
.Button.btn.btn-secondary a:hover,
.Button.btn.btn-warning a:hover {
    text-decoration: none;
}

.Button.btn.btn-warning {
    background-color: #ff8a5c !important;
    border: none;
}

.Button.btn.btn-danger {
    background-color: #e95b5b;
    border: none;
}

.Button.btn.btn-danger:hover {
    opacity: 0.9;
}
