.FormGroup .form-control {
    border: none;
    border-bottom: 1px solid #3b6cf4;
    font-weight: bold;
    border-radius: 0;
}

.FormGroup .form-control:focus {
    border-bottom: 2px solid #3b6cf4;
    box-shadow: none;
}

.FormGroup .form-control.is-invalid:focus {
    box-shadow: none;
}

.FormGroup .invalid-feedback {
    display: block;
    visibility: hidden;
}

.FormGroup .invalid-feedback:after {
    content: '\00a0';
}

.FormGroup .is-invalid ~ .invalid-feedback {
    visibility: visible;
}

.FormGroup .form-check-input:not(.is-invalid) ~ .form-check-label {
    padding-bottom: 20px;
}
