@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500&family=Source+Code+Pro&display=swap');

$body-bg: #203acf;
$body-color: white;
$font-family-sans-serif: Mulish, sans-serif;
$font-family-monospace: "Source Code Pro", monospace !default;
$font-size-base: 1.5rem;

@import "~bootstrap/scss/bootstrap";

body, html {
    height: 100%;
    width: 100%;
}

#root {
    height: 100%;
    width: 100%;
}

.jumbotron {
    background-color: #a158ff;
}
