.ButtonGroup {
    width: 100%;
    text-align: center;
}

.ButtonGroup .Button {
    margin-left: 25px;
}

.ButtonGroup .Button:first-child {
    margin-left: 0;
}

.ButtonGroup .btn-group > .btn:not(:last-child),
.ButtonGroup .btn-group > .btn:not(:first-child) {
    border-radius: 6px;
}

.ButtonGroup .btn-group > .btn:not(:last-child):not(.dropdown-toggle),
.ButtonGroup .btn-group > .btn-group:not(:last-child) > .btn {
    border-radius: 6px;
}

.ButtonGroup .btn-group > .btn:not(:first-child),
.btn-group > .btn-group:not(:first-child) {
    margin-left: 25px;
}

.ButtonGroup.left {
    text-align: left;
}
