.Dashboard {
    min-height: 100%;
    position: relative;
}

.Dashboard .Sidebar {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
    margin-left: -15px;
}

.Dashboard .Sidebar .MenuArea {
    height: calc(100vh - 160px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 40px;
}

.Dashboard .ContentArea {
    height: calc(100vh - 155px);
    overflow-y: auto;
}

.Dashboard .ContentArea [class*="row"] {
    margin-bottom: 40px;
}

.Dashboard .ContentArea [class*="row"]:last-child {
    margin-bottom: 0;
}

.Dashboard .ContentArea [class*="col-"] {
    padding-right: 0;
}

.Dashboard .ContentArea [class*="col-"]:nth-child(n+2) {
    padding-left: 40px;
}

.Dashboard .ContentArea [class*="col-"]:last-child {
    padding-right: 10px;
}

.Dashboard .PrimaryArea {
    font-size: 14px;
    overflow-x: hidden;
    padding-top: 23px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
}

.Dashboard .SecondaryArea {
    font-size: 14px;
    overflow-x: hidden;
    padding-top: 23px;
    padding-left: 20px;
    padding-right: 25px;
    padding-bottom: 30px;
}

.Dashboard .AddressSwitcherArea {
    display: flex;
    justify-content: flex-end;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 20px;
    padding-left: 20px;
}

.Dashboard .PrimaryArea h1,
.Dashboard .SecondaryArea h1 {
    font-size: 36px;
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 60px;
}

.Dashboard .PrimaryArea h2,
.Dashboard .SecondaryArea h2 {
    font-size: 18px;
    font-weight: bold;
}

.Dashboard .PrimaryArea h3,
.Dashboard .SecondaryArea h3 {
    font-size: 18px;
    padding-bottom: 20px;
}

.Dashboard .PrimaryArea p,
.Dashboard .SecondaryArea p {
    font-size: 14px;
    font-weight: normal;
}

.Dashboard .TitlesArea {
    padding-left: 40px;
}

.Dashboard .TitlesArea h1 {
    font-size: 36px;
    font-weight: bold;
    padding-top: 30px;
}

.Dashboard .TitlesArea h1 .MenuIcon {
    display: inline-block;
}

.Dashboard .TitlesArea h1 .MenuIcon img {
    vertical-align: top;
    max-height: 36px;
}

.Dashboard .TitlesArea h2 {
    font-size: 22px;
    padding-top: 20px;
    margin-left: 60px;
}

.Dashboard .back-button {
    margin-top: 30px;
    font-size: 18px;
    font-weight: bold;
}

.Dashboard .back-button img {
    margin-right: 10px;
}
