.Gauge {
    position: relative;
}

.Gauge .title {
    font-size: 18px;
    margin-bottom: 40px;
    font-weight: bold;
}

.Gauge .reading {
    display: flex;
    align-items: baseline;
    justify-content: center;
    background-image: url("../img/gauge.svg");
    background-size: contain;
    background-position: center 100%;
    background-repeat: no-repeat;
    height: 240px;
}

.Gauge .reading .value-unit {
    display: flex;
    align-items: baseline;
    padding-top: 130px;
}

.Gauge .reading .value {
    display: flex;
    align-items: baseline;
}

.Gauge .reading .value .integer-part {
    font-size: 80px;
    font-weight: bold;
}

.Gauge .reading .value .decimal-part {
    font-size: 30px;
}

.Gauge .reading .unit {
    font-size: 20px;
    padding-left: 5px;
}
