.Gauge {
    position: relative;
}

.Gauge.arc .reading {
    display: flex;
    align-items: baseline;
    justify-content: center;
    background-image: url("../img/gauge.svg");
    background-size: contain;
    background-position: center 100%;
    background-repeat: no-repeat;
    height: 240px;
}

.Gauge.arc.light .reading {
    background-image: url("../img/gauge-light.svg");
}

.Gauge .reading .value-unit {
    display: flex;
    align-items: baseline;
    padding-top: 130px;
}

.Gauge .reading .value {
    display: flex;
    align-items: baseline;
}

.Gauge .reading .value .integer-part {
    font-size: 80px;
    font-weight: bold;
}

.Gauge .reading .value .decimal-part {
    font-size: 30px;
}

.Gauge .reading .unit {
    font-size: 20px;
    padding-left: 5px;
}

.Gauge.linear {
    display: flex;
    align-items: baseline;
}

.Gauge.linear:before {
    content: " ";
    display: block;
    background-image: url("../img/linear-gauge.svg");
    background-size: contain;
    background-position: center 100%;
    background-repeat: no-repeat;
    width: 600px;
    height: 15px;
    margin-right: 20px;
}

.Gauge.linear.light:before {
    background-image: url("../img/linear-gauge-light.svg");
}

.Gauge.linear .reading {
    margin-right: 40px;
}

.Gauge.linear .reading .value .integer-part {
    line-height: 1;
}

.Gauge.linear .reading .value-unit {
    padding-top: 0;
}

@media (max-width: 1385px) {
    .Gauge.linear:before {
        width: 400px;
    }
}
