.TransactionConfirmation.vault-first .Table .body {
    overflow-y: auto;
    height: calc(100vh - 634px);
}

.TransactionConfirmation .Table .body {
    overflow-y: auto;
    height: calc(100vh - 575px);
}
