.TwoSideButtonGroup {
    width: 100%;
    height: 80px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.TwoSideButtonGroup .left,
.TwoSideButtonGroup .right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.TwoSideButtonGroup .left *,
.TwoSideButtonGroup .right * {
    margin-left: 20px;
}

.TwoSideButtonGroup .left *:first-child,
.TwoSideButtonGroup .right *:first-child {
    margin-left: 0;
}
