.Wallet .asset-name-cell {
    padding-top: 3px;
}

.Wallet .asset-name-cell .name {
    margin-left: 10px;
}

.Wallet .not-available {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e6007a;
    border: 2px solid #e6007a;
    border-radius: 6px;
    padding: 9px 20px;
}

.Wallet .gauge-title {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    align-items: center;
}

.Wallet .gauge-title img {
    margin-right: 10px;
}

